{# src/CarnetBundle/Resources/views/Advert/index.html.twig#}

{% extends "CarnetBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} Index
{% endblock %}

{% block body %}
    <div>
        <h1>Bienvenue</h1><br />

        <p>Voici ma toute premiere application en Symfony. Ce site a été réalisé en même temps que j'apprenais le FrameWork</p>
    </div>
{% endblock %}